{% for host, target in pihole.local_dns.CNAME.items() | default({}) %}
cname={{ host }},{{ target }}
{% endfor %}
{% for dnsmasq_line in pihole.dnsmasq_custom | default([]) %}
{{ dnsmasq_line }}
{% endfor %}
